html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    padding-left: 25px;
    padding-right: 25px;
}

.label {
    font-style: oblique;
}

/* Country page */

.onePageSummary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.onePageSummary>div {
    margin: 5px;
    min-width: 250px;
    flex: 1 0 28%;
}

.onePageSummary img {
    margin-top: 20px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 10px;
}

.images>img {
    max-width: 230px;
    width: 100%;
    display: block;
}

.header {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.year {
    font-size: 12px;
}

@media only screen and (max-device-width: 1050px) {
    .onePageSummary>div {
        flex: inherit;
        width: 100%;
    }
}

h3 {
    margin-bottom: 6px;
}

h2 {
    margin-bottom: 9px;
}

/* TRAVEL FACTS */

table {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

th {
    color: #ffffff;
    background: #39a2fb;
    font-weight: 700;
    padding: 5 0 5 0;
}

tr {
    background: #fff;
}

tr:hover {
    background: #f4f4f4;
}

td {
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.footer {
    margin-top: 60px;
    text-align: center;
}

.footer>a {
    display: block;
}

/* INDEX page */

.index {
    width: 400px;
    margin: 50 auto;
}

.index a {
    text-decoration: none;
}

.index .lh a {
    font-weight: bold;
    color: black;
}

.index li {
    margin-left: 20px;
}

.index>ul>li>a {
    font-weight: bold;
    color: black;
}

.index>ul>li>ul>li>a {
    text-decoration: none;
    color: blue;
}