/* Osobní tvorba */

.panda {
    margin: auto;
    width: 122px;
    position: relative;
    /* top: 28px */
}

.panda .ears .leftEar {
    width: 20px
}

.panda .head {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 6px solid #000;
    background-color: #fff;
    z-index: 20
}

.panda .eyes, .panda .head {
    position: relative
}

.panda .eyes .leftEye {
    width: 34px;
    height: 39px;
    background-color: #000;
    position: absolute;
    left: 13px;
    top: 27px;
    border-radius: 25px/29px;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg)
}

.panda .eyes .leftEye .irisEye {
    width: 12px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    left: 11px;
    top: 6px;
    border-radius: 12px/14px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-animation: blinking 6s infinite;
    animation: blinking 6s infinite
}

.panda .eyes .rightEye {
    width: 34px;
    height: 39px;
    background-color: #000;
    position: absolute;
    left: 65px;
    top: 27px;
    border-radius: 25px/29px;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg)
}

.panda .eyes .rightEye .irisEye {
    width: 12px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    left: 11px;
    top: 6px;
    border-radius: 12px/14px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-animation: blinking 6s infinite;
    animation: blinking 6s infinite
}

.panda .nose {
    position: relative;
    left: 45px;
    top: 70px
}

.panda .nose .lineDown {
    width: 6px;
    height: 13px;
    background-color: #000;
    position: absolute;
    left: 9px;
    top: 13px
}

.panda .nose:after, .panda .nose:before {
    position: absolute;
    content: "";
    left: 12px;
    top: 0;
    width: 12px;
    height: 17px;
    background: #000;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%
}

.panda .nose:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.panda .mouth {
    position: absolute;
    width: 70px;
    height: 20px;
    overflow: hidden;
    top: 85px;
    left: 33px
}

.panda .mouth .line {
    position: absolute;
    top: -30px;
    width: 35px;
    height: 30px;
    border-radius: 40px;
    border: 6px solid #000
}

.panda .ears {
    position: relative;
    z-index: 1
}

.panda .ears .leftEar {
    left: -13px
}

.panda .ears .leftEar, .panda .ears .rightEar {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 35px
}

.panda .ears .rightEar {
    left: 85px
}

.panda .hands {
    position: relative;
    z-index: 21;
    top: 0;
    -webkit-transition: top .3s linear;
    -o-transition: top .3s linear;
    transition: top .3s linear
}

.panda .hands:after, .panda .hands:before {
    top: 0;
    position: absolute;
    content: "";
    width: 80px;
    height: 30px;
    background-color: #000;
    -webkit-transition: width .3s, top .3s, -webkit-transform .3s;
    transition: width .3s, top .3s, -webkit-transform .3s;
    -o-transition: width .3s, transform .3s, top .3s;
    transition: width .3s, transform .3s, top .3s;
    transition: width .3s, transform .3s, top .3s, -webkit-transform .3s
}

.panda .hands:before {
    left: -18px;
    border-radius: 0 10px 10px 0
}

.panda .hands:after {
    right: -21px;
    border-radius: 10px 0 0 10px
}

.panda.handsUp.seeking .hands:after {
    top: -20px
}

.panda.handsUp .hands {
    top: -68px
}

.panda.handsUp .hands:before {
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg)
}

.panda.handsUp .hands:after {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
}

@-webkit-keyframes blinking {
    70% {
        height: 14px;
        top: 6px
    }
    88% {
        height: 0;
        top: 20px
    }
    to {
        height: 14px;
        top: 6px
    }
}

@keyframes blinking {
    80% {
        height: 14px;
        top: 6px
    }
    88% {
        height: 0;
        top: 20px
    }
    to {
        height: 14px;
        top: 6px
    }
}