html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

/* Country page */

.header {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.subfield>.subfieldName {
    font-weight: bold;
}

/* .subfieldName {
    margin-right: 7px;
} */

/* 
.subfield> :first-child {
    margin-right: 7px;
} */

.subfieldNumber, .subfieldNote, .subfieldName {
    margin-right: 7px;
}

.group>.subfield>.subfieldName {
    font-weight: normal;
}

.subfield, .groupedSubfield {
    padding-bottom: 8px;
}

.subfieldGroup {
    display: block;
    padding-bottom: 7px;
    font-weight: bold;
}

.reference>span {
    font-weight: bold;
    padding-right: 7px;
}

.reference>a {
    text-decoration: underline;
}

.strong {
    font-weight: bold;
    padding-right: 7px;
}

.field {
    margin-bottom: 5px;
}

.field>h3 {
    margin-bottom: 6px;
    margin-top: 2px;
    background-color: #f1e9e9;
    padding-left: 8px;
    color: #337ab7
}

.field-content {
    padding-left: 8px;
    padding-right: 8px;
}

.section>h2 {
    margin-bottom: 9px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #e4d4d4;
    padding-left: 8px;
}

.section-content {
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.show {
    opacity: 1;
    height: auto;
}

/* INDEX page */

.index {
    width: 400px;
    margin: 50 auto;
}

.index a {
    text-decoration: none;
}

.index .lh a {
    font-weight: bold;
    color: black;
}

.index li {
    margin-left: 20px;
}

.index>ul>li>a {
    font-weight: bold;
    color: black;
}

.index>ul>li>ul>li>a {
    text-decoration: none;
    color: blue;
}

/* TABLE */

table {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

th {
    color: #ffffff;
    background: #39a2fb;
    font-weight: 700;
    padding: 5 0 5 0;
}

tr {
    background: #fff;
}

tr:hover {
    background: #f4f4f4;
}

td {
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}